@charset "UTF-8";
/*
!----------------------- Обнуляющий стиль --------------------!
*/
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/*
!---------------------- Подключения шрифта -------------------!
*/
/*
!---------------------- const -------------------!
*/
body {
  font-family: "Barlow";
  font-weight: 500;
  font-size: 18px;
  background: #F2F2F2;
}

.u-container {
  width: 1280px;
  margin: auto;
}

/*
!---------------------- header -------------------!
*/
header {
  margin-top: 44px;
}

.header__container {
  display: flex;
  justify-content: space-between;
}
.header__menu ul {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 33px;
       column-gap: 33px;
}
.header__menu a {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888F;
}

/*
!---------------main---------------!
*/
.main {
  margin-top: 45px;
}
.main__container {
  background: url("../img/Bitmap-bg.jpg");
  height: 450px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.main__container h2 {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #FEFCF7;
}
.main__container p {
  margin-top: 24px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
}
.main__text {
  margin-left: 85px;
}

/*
!-----------------------commitment------------------!
*/
.commitment {
  margin-top: 168px;
}
.commitment__container {
  width: 1110px;
  margin: 0 auto;
  display: flex;
  -moz-column-gap: 125px;
       column-gap: 125px;
  align-items: center;
}
.commitment__left {
  min-width: 445px;
  max-height: 520px;
  border-radius: 8px;
  overflow: hidden;
}
.commitment__left img {
  -o-object-fit: cover;
     object-fit: cover;
}
.commitment__right h3 {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #333D4B;
}
.commitment__right p {
  margin-top: 32px;
  font-family: "Barlow";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
  opacity: 0.8;
}

/*
!---------------------quality---------------!
*/
.quality {
  margin-top: 256px;
}
.quality__container {
  display: flex;
  -moz-column-gap: 125px;
       column-gap: 125px;
  background: #2C343E;
  border-radius: 10px;
  padding: 88px 85px 88px;
}
.quality__left h3 {
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #FEFCF7;
}
.quality__left p {
  margin-top: 32px;
  font-family: "Barlow";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  opacity: 0.8;
}
.quality__right {
  min-width: 445px;
  height: 474px;
  border-radius: 8px;
  overflow: hidden;
  margin-top: -175px;
}

/*
!----------------headquarter---------------!
*/
.headquarter {
  margin-top: 168px;
}
.headquarter__container {
  width: 1110px;
  margin: 0 auto;
}
.headquarter__container h2 {
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888F;
}
.headquarter__list {
  margin-top: 72px;
}
.headquarter__list ul {
  display: flex;
  -moz-column-gap: 95px;
       column-gap: 95px;
}
.headquarter__list ul li {
  width: 285px;
}
.headquarter__list ul img {
  height: 49.07px;
}
.headquarter__list ul h3 {
  margin-top: 45.93px;
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #333D4B;
}
.headquarter__list ul p {
  margin-top: 24px;
  font-family: "Barlow";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
}

/*
!-----------footer------------!
*/
footer {
  background: #2C343E;
  margin-top: 200px;
}

.footer__container {
  display: flex;
  padding: 47px 85px;
}
.footer__container > a {
  display: inline-flex;
  width: 230px;
  height: 26px;
}
.footer__menu {
  margin-left: 103px;
}
.footer__menu ul {
  display: flex;
}
.footer__menu li:not(:last-child) {
  margin-right: 33px;
}
.footer__menu a {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888F;
}
.footer__socials {
  margin-left: 370px;
}
.footer__socials ul {
  display: flex;
  -moz-column-gap: 24px;
       column-gap: 24px;
}